<!-- <app-navbar></app-navbar> -->

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="container mt-5 bg-info">
  <div class="text-center mb-2 mt-2">
    <h2>Transport Management Information System</h2>
  </div>
  <!-- Section: Design Block -->
  <section class=" text-center text-lg-start">

    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <!-- <img src="https://mdbootstrap.com/img/new/ecommerce/vertical/004.jpg" alt="Trendy Pants and Shoes"
          class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" /> -->
          <img src="../assets/images/transport.jpeg" alt="Trendy Pants and Shoes"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" height="450px" width="300x" />
        </div>
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">

            <form [formGroup]="form" (ngSubmit)="onClickSubmit()" novalidate>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="text" id="userName" class="form-control" formControlName="userName" />
                <label class="form-label" for="id">User Name/Id</label>
              </div>

              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="password" class="form-control" formControlName="password" />
                <label class="form-label" for="password">Password</label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="btn btn-primary btn-block mb-4" value="submit">Sign in</button>

            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
  <div class="text-center mb-2 mt-2">
    <small>Chhattisgarh Medical Services Corporation Limited</small>
  </div>
</div>
