<app-navbar-admin></app-navbar-admin>

<div class="container d-flex justify-content-center">
  <div class="card border-primary mb-3 mt-5" style="width: 30%">
    <div class="card-header">
      <h2>Update Tender</h2>
    </div>
    <div class="card-body">
      <h4 class="card-title">
        <a href="#" routerLink="/tender/tenderindex" class="btn btn-sm btn-primary">Back</a>
      </h4>

      <form [formGroup]="form" (ngSubmit)="submit()">
        <input formControlName="tenderid" id="tenderid" type="text" [(ngModel)]="id" value="hello" autocomplete="off"
          hidden />


        <div class="form-group">
          <label for="title">Tender Name:</label>
          <input formControlName="tendername" id="tendername" type="text" [(ngModel)]="tender.tendername"
            class="form-control" />
          <div *ngIf="f['tendername'].touched && f['tendername'].invalid" class="alert alert-danger">
            <div *ngIf="
                f['tendername'].errors && f['tendername'].errors['required']
              ">
              Tender Name is required.
            </div>
          </div>
        </div>

        <!-- [ngModel]="tender.startdate | date:'dd-MM-yyyy'" (ngModelChange)="tender.startdate = $event" [value]="tender.startdate | date:'yyyy-MM-dd'" -->
        <div class="form-group">
          <label for="body">Start Date</label>
          <input formControlName="startdate" id="startdate" type="date" [ngModel]="tender.startdate | date:'yyyy-MM-dd'"
            class="form-control" />
          <div *ngIf="f['startdate'].touched && f['startdate'].invalid" class="alert alert-danger">
            <div *ngIf="f['startdate'].errors && f['startdate'].errors['required']">
              Start Date is required.
            </div>
          </div>
        </div>


        <!-- [(ngModel)]="tender.enddate" -->
        <div class="form-group">
          <label for="body">End Date</label>
          <input formControlName="enddate" id="enddate" type="date" [ngModel]="tender.enddate| date:'yyyy-MM-dd'"
            class="form-control" />
          <div *ngIf="f['enddate'].touched && f['enddate'].invalid" class="alert alert-danger">
            <div *ngIf="f['enddate'].errors && f['enddate'].errors['required']">
              End Date is required.
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="isfinalized" class="form-label fw-bold">Is Finalize :</label>
          <div class="form-check">
            <input id="Yes" type="radio" value="Y" name="isfinalized" formControlName="isfinalized"
              class="form-check-input" [(ngModel)]="tender.isfinalized" />
            <label for="Yes">Yes</label>
          </div>
          <div class="form-check">
            <input id="No" type="radio" value="N" name="isfinalized" formControlName="isfinalized"
              class="form-check-input" [(ngModel)]="tender.isfinalized" />
            <label for="Yes">No</label>
          </div>
          <div *ngIf="f['isfinalized'].touched && f['isfinalized'].invalid" class="alert alert-danger">
            <div *ngIf="
                f['isfinalized'].errors && f['isfinalized'].errors['required']
              " class="small">
              isCentralContractor is required.
            </div>
          </div>
        </div>

        <br />
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          Update
        </button>
      </form>
    </div>
  </div>
</div>
